.glow-background {
  background-color: hsla(245, 84%, 54%, 0.6);
  z-index: -1;
  opacity: .7;
  filter: blur(10vw);
  border-radius: 50%;
  width: 40vw;
  max-width: 863px;
  height: 90vw;
  max-height: 923px;
  position: absolute;
  inset: -5% auto auto 0%;
  transform: rotate(50deg);
}

.glow-background2 {
  background-color: hsla(245, 84%, 54%, 0.6);
  z-index: -1;
  opacity: .7;
  filter: blur(10vw);
  border-radius: 50%;
  width: 40vw;
  max-width: 863px;
  height: 90vw;
  max-height: 923px;
  position: absolute;
  inset: 22% auto auto 60%;
  transform: rotate(-60deg);
}

.glow-background3 {
  background-color: hsla(245, 84%, 54%, 0.6);
  z-index: -1;
  opacity: .7;
  filter: blur(10vw);
  border-radius: 50%;
  width: 40vw;
  max-width: 863px;
  height: 90vw;
  max-height: 923px;
  position: absolute;
  inset: 45% auto auto 5%;
  transform: rotate(50deg);
}

.glow-background4 {
  background-color: hsla(245, 84%, 54%, 0.6);
  z-index: -1;
  opacity: .7;
  filter: blur(10vw);
  border-radius: 50%;
  width: 40vw;
  max-width: 863px;
  height: 90vw;
  max-height: 923px;
  position: absolute;
  inset: 65% auto auto 50%;
  transform: rotate(70deg);
}

.glow-background5 {
  background-color: hsla(245, 84%, 54%, 0.6);
  z-index: -1;
  opacity: .7;
  filter: blur(10vw);
  border-radius: 50%;
  width: 40vw;
  max-width: 863px;
  height: 90vw;
  max-height: 923px;
  position: absolute;
  inset: 85% auto auto 5%;
  transform: rotate(70deg);
}

/*GRAND MOBILE (481px et plus)*/

@media (min-width: 481px) {
  
}


/*MOBILE LANDSCAPE / PHABLET (576px et plus)*/

@media (min-width: 576px) {
  
}


/*TABLETTE PORTRAIT (768px et plus)*/

@media (min-width: 768px) {
  
}

/*TABLETTE LANDSCAPE (992px et plus)*/

@media (min-width: 992px) {
  
}


/*DESKTOP (1024px et plus)*/

@media (min-width: 1024px) {
  
}


/*LARGE DESKTOP (1280px et plus)*/

@media (min-width: 1280px) {
  
}


/* EXTRA LARGE DESKTOP (1920px et plus)*/

@media (min-width: 1920px) {
  
}